 <body class="layui-anim">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a >首页</a>
        <a >权限管理</a>
        <a><cite>管理员列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
          <div class="layui-input-inline">
              <select name="key" disabled="">
                  <option value="nickname">管理员</option>
              </select>
          </div>
          <input type="text" name="where"  placeholder="搜索" autocomplete="off" class="layui-input">
          <button class="layui-btn " data-type="reload"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>
      </div>
      <table class="layui-hide" id="pishop-table" lay-filter="pishop-table"></table>
    </div>
    <script type="text/html" id="toolbar">
      <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm " onclick="x_admin_show('增加管理员','{:pishop_url('admin/admin/addAdmin')}')" lay-event='add'><i class="layui-icon"></i>增加管理员</button>
      </div>
    </script>

    <script type="text/html" id="bar">
      <a class="layui-btn {{ d.uid==1 ? 'layui-btn-disabled' : 'layui-btn-normal' }}  layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
      <a class="layui-btn {{ d.uid==1 ? 'layui-btn-disabled' : 'layui-btn-danger' }} layui-btn-xs" lay-event='delete'><i class="layui-icon">&#xe640;</i>删除</a>
    </script>

    <script type="text/html" id="status">
      <input type="checkbox" name="status" value="{{d.uid}}" lay-skin="switch" lay-text="是|否" lay-filter="status" {{ d.status==1 ? 'checked' : '' }} {{ d.uid==1 ? 'disabled' : '' }}>
    </script>

    <script>
      layui.use(['table','form'], function(){
        var table = layui.table;
        var form = layui.form;

        

        table.render({
          elem: '#pishop-table'
          ,url:'{:pishop_url('admin/admin/index')}'
          ,toolbar: '#toolbar'
          ,title:'会员数据'
          ,defaultToolbar: ['filter', 'print', 'exports']
          ,cols: [[
            {field:'uid', title: 'ID',width:60}
            ,{field:'nickname', title: '管理员',minWidth:200}
            ,{field:'status', title: '状态',width:100,templet: '#status'}
            ,{field:'create_time', title: '注册日期',templet: function(d){
               return fmtDate(d.create_time);
            },width:180,sort: true}
            ,{title:'操作', toolbar: '#bar',width:150,fixed:'right'}
          ]],
          id:'pishop-table'
          ,page: true
          ,done:function () {
            layer.photos({
              photos: '.pishop-layer-photos'
              ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
            });
          }
        });

        

        //监听切换状态操作
      form.on('switch(status)', function(obj){
        var data = {table:'user'};
        data.id_name = 'uid';
        data.id_value = this.value;
        data.field = 'status';
        data.field_value =obj.elem.checked ? 1 : 0;

        $.post('{:pishop_url('admin/common/changeStatus')}',data, function(response, textStatus, xhr) {
            if(response.code==0){
              layer.msg(response.msg,function(){});

              if(obj.elem.checked==false){
                obj.elem.checked = true;
              }else{
                obj.elem.checked = false;
              }
              form.render();
            }else{
              layer.msg(response.msg, {icon: 6,time:300},function(){});
            }
          });
        });


        //头工具栏事件

        //工具栏
        table.on('tool(pishop-table)', function(obj){
          var data = obj.data;
          if(obj.event === 'delete'){
            $.post('{:pishop_url('admin/admin/delAdmin')}', {uid: data.uid}, function(response, textStatus, xhr) {
              if(response.code==0){
                layer.msg(response.msg,function(){});
              }else{
                layer.msg(response.msg, {icon: 6,time:300},function(){});
                $('.layui-laypage-btn').click();
              }
            });
            
          } else if(obj.event === 'edit'){
            x_admin_show('编辑','{:pishop_url('admin/admin/addAdmin')}?uid='+data.uid);
          }
        });

        // 重新加载表格
        var $ = layui.$, active = {
          reload: function(){
            //执行重载
            table.reload('pishop-table', {
              page: {
                curr: 1 //重新从第 1 页开始
              }
              ,where: {
                search_type: $('select[name=key]').val(),
                val:$('input[name=where]').val()
              }
            });
          }
        };
        
        // 搜索
        $('.x-so .layui-btn').on('click', function(){
          var type = $(this).data('type');
          active[type] ? active[type].call(this) : '';
        });

      });
      </script>
  </body>

</html>