 <body>
    <div class="x-nav">
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <button class="layui-btn " onclick="x_admin_show('添加栏目','{:pishop_url('admin/article/cateadd')}')"><i class="layui-icon"></i>增加分类</button>
      </xblock>
      <table class="layui-table layui-form">
        <thead>
          <tr>
            <th width="60">ID</th>
            <th>分类名</th>
            <th>分类描述</th>
            <th>导航显示</th>
            <th width="50">排序</th>
            <th width="220">操作</th>
        </thead>
        <tbody class="x-cate">
          {volist  name="cateList" id='cate'}
          <tr cate-id='{$cate.cate_id}' fid='{$cate.fid}' >
            <td>{$cate.cate_id}</td>
            <td>
              {$cate.margin}
              {if condition="$cate.is_son"}
                <i class="layui-icon x-show" style="cursor: pointer;" status='true'>&#xe623;</i>
              {else/}
                ├
              {/if}
              {$cate.cate_name}
            </td>
            <th>{$cate.cate_desc}</th>
            <th>{:$cate.show_in_nav?'是':'否'}</th>
            <td><input type="text" class="layui-input x-sort" name="sort" value="{$cate.sort}" data-cate-id='{$cate.cate_id}' data-cate-name='{$cate.cate_name}' data-fid='{$cate.fid}' data-show-in-nav="{$cate.show_in_nav}"  style="height: 25px" onkeyup="this.value=/^\d+\.?\d{0,2}$/.test(this.value) ? this.value : ''"></td>
            <td class="td-manage">
              <button class="layui-btn layui-btn layui-btn-xs"  onclick="x_admin_show('编辑','{:pishop_url('admin/article/cateedit',['cate_id'=>$cate.cate_id])}')" ><i class="layui-icon">&#xe642;</i>编辑</button>
              <button class="layui-btn layui-btn-warm layui-btn-xs"  onclick="x_admin_show('添加栏目','{:pishop_url('admin/article/cateadd',['cate_id'=>$cate.cate_id])}')" ><i class="layui-icon">&#xe642;</i>添加子栏目</button>
              <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="cate_del(this,'{$cate.cate_id}')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
            </td>
          </tr>
          {/volist}
        </tbody>
      </table>
    </div>
    <style type="text/css">
      
    </style>
    <script>
      layui.use(['form'], function(){
        form = layui.form;
        
      });

      $('td').on('blur', '.x-sort', function(event) {
          data  = {};
          data.sort = $(this).val();
          data.cate_id = $(this).data('cate-id');
          data.fid = $(this).data('fid');
          data.cate_name = $(this).data('cate-name');
          data.show_in_nav = $(this).data('show-in-nav');
          $.post('{:pishop_url('admin/article/cateedit')}',data, function(response, textStatus, xhr) {
              if(response.code==0){
                layer.msg(response.msg,function(){});
              }else{
                layer.msg(response.msg,{icon: 6},function(){});
              }
          });

      });

      /*用户-删除*/
      function cate_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.post('{:pishop_url('admin/article/catedel')}', {cate_id: id}, function(response, textStatus, xhr) {
               if(response.code==0){
                layer.msg(response.msg,function(){});
              }else{
                layer.alert(response.msg, {icon: 6},function(){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                });
              }
              
            });
            
        });
      }

    </script>
  </body>

</html>