<body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>会员昵称
              </label>
              <div class="layui-input-inline">
                 <input type="text"  disabled="" required="" lay-verify="required" value="{$user.nickname}" 
                  autocomplete="off"  class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>会员昵称不可修改。
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  会员资产
              </label>
              <div class="layui-form-mid layui-word-aux">
                  <strong class="x-red">{$user.balance}</strong>余额 <strong class="x-red">{$user.score}</strong>积分
              </div>
             
          </div>
          <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>会员等级
              </label>
              <div class="layui-input-inline">
                  <select name="level">
                    {volist name="userLevel" id='level'}
                    <option {:$level.lid==$user.level?'selected':''} value="{$level.lid}">{$level.level_name}</option>
                    {/volist}
                  </select>
              </div>
          </div>
           <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>电子邮箱
              </label>
              <div class="layui-input-inline">
                 <input type="text"  name="email" required="" lay-verify="email" value="{$user.email}" 
                  autocomplete="off"  class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>会请输入常用的邮箱，将用来找回密码、接受订单通知等。
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>手机号码
              </label>
              <div class="layui-input-inline">
                 <input type="text"  name="mobile"  required="" lay-verify="phone" value="{$user.mobile}" 
                  autocomplete="off"  class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>请输入常用的手机号码，将用来找回密码、接受订单通知等。
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>新密码
              </label>
              <div class="layui-input-inline">
                 <input type="password"  name="password"  required=""  value="" 
                  autocomplete="off"  class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>留空表示不修改密码
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>确认密码
              </label>
              <div class="layui-input-inline">
                 <input type="password"  name="repassword" required=""  value="" 
                  autocomplete="off"  class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>留空表示不修改密码
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>性别
              </label>
              <div class="layui-input-inline" style="width: 250px">
                  <input type="radio" name="sex" value="1" {:$user.sex=='1' ? 'checked' :''}  title="男">
                  <input type="radio" name="sex" value="2" {:$user.sex=='2' ? 'checked' :''}   title="女" >
                  <input type="radio" name="sex" {:$user.sex=='0' ? 'checked' :''}   value="0" title="保密">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>QQ
              </label>
              <div class="layui-input-inline" style="width: 250px">
                 <input type="text"  name="qq" required=""  value="{$user.qq}" 
                  autocomplete="off"  class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  注册时间
              </label>
              <div class="layui-form-mid layui-word-aux">
                  {$user.create_time}
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>冻结会员
              </label>
              <div class="layui-input-inline">
                 <input type="checkbox" {:$user.is_lock?'checked':''} name="is_lock" lay-skin="switch" lay-text="开启|关闭">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  如果冻结会员，会员将不能操作资金。
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <input type="hidden" name="uid" value="{$user.uid}">  
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  确认提交
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

          //监听提交
          form.on('submit(add)', function(data){
            // console.log(data);
            $.post('{:pishop_url('admin/user/useredit')}', data.field, function(response, textStatus, xhr) {
                if(response.code==0){
                  layer.msg(response.msg,function(){});
                }else{
                  layer.alert(response.msg, {icon: 6},function(){
                      // 获得frame索引
                      var index = parent.layer.getFrameIndex(window.name);
                      //关闭当前frame
                      parent.layer.close(index);
                  });
                }
            });
           
            return false;
          });
          
          
        });
    </script>
  </body>

</html>